@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap'); 

.textIn{
    animation: 
        typing1 3s steps(60,end),
        cursorBlink 1s step-end infinite;
}

.textOut{
    animation: 
        typing2 3s steps(60,end),
        cursorBlink 1s step-end infinite;
}

.h1Edit{
    font-size: 3.3vw;
    font-family: 'Chivo Mono', monospace;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    color: rgb(36, 36, 36);
    border-right: 0.15em solid rgb(7, 7, 7);
    white-space: nowrap;
    font-weight: 600;
    text-shadow: 10px 5px 5px #FF0000;
    /* animation: cursorBlink 0.5s step-end infinite; */
}

@keyframes typing1{
    from{width:0%}
    to{width: 100%}
}
@keyframes typing2{
    from{width:100%}
    to{width: 0%}
}
@keyframes cursorBlink{
    from,to{border-color: transparent}
    50%{border-color: black;}
}

@media screen and (max-width:900px){
    .h1Edit{
        font-size: 4.3vw;
    }
}
@media screen and (max-width:450px){
    .h1Edit{
        max-width: 85%;
        font-size: 5.5vw;
    }
}